/*
*   Main Styles for Digital Resume
*   Author: Taylor Fedt
*   Version: 1.0.0
*   Visit www.taylorfedt.com to see more of my work.
*/

// Import Bootstrap SASS files first
// In the Bootstrap.scss files I've commented out partials I don't want/need.
@import "bootstrap/bootstrap-reboot";
@import "bootstrap/bootstrap-grid";
@import "bootstrap/bootstrap";
// Animate SASS Import
@import "animate/options";
@import "animate/mixins";
@import "animate/hacks";
@import "animate/effects/background-transitions/bounce-to-bottom";
// Import My Custom SASS
@import "tf/tf-colors"; // Declare colors first, these are the most important.
@import "tf/tf-variables"; // Used to declare my own variables and override bootstrap variables.
@import "tf/tf-buttons";
// BOX SHADOW MIXIN
@mixin box-shadow-std() {
    -webkit-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.16);
    box-shadow: 0px 4px 2px 0px rgba(0, 0, 0, 0.16);
}

@mixin section($bg, $color, $padding, $margin) {
    background: $bg;
    color: $color;
    padding: $padding;
    margin: $margin;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: $p1;
}

.purple-gradient {
    background: -moz-linear-gradient(9.38% -15% -45deg, rgba(40, 54, 74, 1) 0%, rgba(9, 20, 36, 1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(40, 54, 74, 1) 0%, rgba(9, 20, 36, 1) 100%);
    background: -webkit-gradient(linear, 9.38% -15%, 90.63% 115%, color-stop(0, rgba(40, 54, 74, 1)), color-stop(1, rgba(9, 20, 36, 1)));
    background: -o-linear-gradient(-45deg, rgba(40, 54, 74, 1) 0%, rgba(9, 20, 36, 1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(40, 54, 74, 1) 0%, rgba(9, 20, 36, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#28364A', endColorstr='#091424' ,GradientType=0)";
    background: linear-gradient(135deg, rgba(40, 54, 74, 1) 0%, rgba(9, 20, 36, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#28364A', endColorstr='#091424', GradientType=1);
}

.logo-container {
    position: sticky;
}

.logo-wrapper {
    width: 800px;
    height: 150px;
    padding: 30px 0px 10px 0px;
}

.vert-line {
    background-color: $b4;
    min-width: 4px;
    min-height: 100%;
}

.profile {
    padding: 60px 0 40px 0;
}

.icon-scroll-down {
    width: 30px;
    height: 30px;
    color: $bp4;
    text-align: center;
}

// Base Color BG Addon Classes
.bg-color-red-base {
    background-color: $rp4;
}

.bg-color-red2-base {
    background-color: $rs4;
}

.bg-color-blue-base {
    background-color: $b4;
}

.bg-color-blue2-base {
    background-color: $b4;
}

.bg-color-green-base {
    background-color: $g4;
}

//
//  Typography
//
.display-l1 {
    @include display-light(6rem, normal, normal, $p3);
}

.display-l2 {
    @include display-light(5.5rem, normal, normal, $p3);
}

.display-l3 {
    @include display-light(4.5rem, normal, normal, $p3);
    text-align: center;
}

.display-l4 {
    @include display-light(3rem, normal, normal, $p3);
    text-align: center;
}

.display-l5 {
    @include display-light(2.5rem, normal, normal, $p3);
    text-align: center;
}

.display-b1 {
    @include display-bold(6rem, normal, normal, $p3);
    font-weight: bold;
}

.display-b2 {
    @include display-bold(5.5rem, normal, normal, $p3);
    font-weight: bold;
}

.display-b3 {
    @include display-bold(4.5rem, normal, normal, $p3);
    font-weight: bold;
}

.display-b3-5 {
    @include display-bold(3.5rem, normal, normal, inherit);
    font-weight: bold;
}

.display-b4 {
    @include display-bold(2.3rem, normal, normal, $p3);
    font-weight: bold;
}

p {
    color: bp0;
    font-family: 'Roboto', sans-serif;
    font-size: $font-size-base * 1.3;
    font-weight: 400;
    letter-spacing: 0.03rem;
}

i {
    font-style: italic;
}

@include media-breakpoint-up(sm) {
    p {
        font-size: $font-size-base * 1.4;
    }
}

//
// Job Information
//
.job-entry {
    min-height: 300px;
    & span.highlight {
        background-color: $p1;
    }
    & .name {
        font-size: 2.9rem;
    }
}

p {
    font-family: "Roboto", sans-serif;
    font-size: $font-size-base * 1.25;
    color: $p3;
}

.divider-green {
    background-color: $g1;
    min-height: 10px;
    margin-top: -10px;
}

.divider-red {
    background-color: $r4;
    min-height: 10px;
    margin-top: -10px;
}

.divider-drk-blue {
    background-color: $bp1;
    min-height: 10px;
    margin-top: -10px;
}

.divider-lt-blue {
    background-color: $bs1;
    min-height: 10px;
    margin-top: -10px;
}

.employed {
    @include roboto-props($r6, 1.3rem, normal, 400);
    color: $r6;
    font-size: 1.3rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.08rem;
    margin-top: 0.54rem;
}

//
// Utility Classes
// Per the Bootstrap 4 documentation there are awesome
// new ways to setup spacing classes.
//
.tp {
    padding-top: ($spacer * 1.5);
}

.mb {
    margin-bottom: ($spacer * 3);
}

.jb {
    margin-bottom: ($spacer * 4);
}