//
//  TF BUTTONS FOR THIS PROJECT
//
@mixin prefix-transition($prop, $time, $dur) {
    transition: $prop $time $dur;
    -moz-transition: $prop $time $dur;
    -o-transitions: $prop $time $dur;
}

.btnprimary {
    width: 100px;
    height: 30px;
    background: #CC2453;
    border: none;
    color: #f5d3dd;
    text-align: center;
    text-transform: uppercase;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    tab-focus: none;
    &:hover,
    &:focus {
        background-color: transparent;
        color: #CC2453;
        border-style: Solid;
        border-color: #CC2453;
        border-width: 5px;
        border-radius: 27px;
        -moz-border-radius: 27px;
        -webkit-border-radius: 27px;
        outline: none;
        tab-focus: none;
    }
    &:active,
    &:visited {
        background: #CC2453;
        color: #f5d3dd;
        border-radius: 27px;
        -moz-border-radius: 27px;
        -webkit-border-radius: 27px;
        tab-focus: none;
    }
}