//  TAYLOR FEDT BRAND COLORS
//  New variable sets, hand crafted in illustrator, blue primary, blue secondary,
// red-primary, red secondary and purples. 47 dope colors, only implement the MVP ones now. Sexy!
// Brand palette variable set.
// Purple Brand Colors
$p1: #091424;
$p2: #1e2937;
$p3: #28364A;
$p4: #445c7d;
$p5: #6a7c97;
$p6: #bf9db1;
$p7: #b4becb;
// Green Brand Colors
$g1: #093125;
$g2: #12624b;
$g3: #1b9370;
$g4: #41c49e;
$g5: #4fd0ab;
$g6: #7bdcc0;
$g7: #a7e7d5;
$g8: #d3f3ea;
// Blue Primary Colors
$bp1: #102C40;
$bp2: #205880;
$bp3: #3083BF;
$bp4: #40AFFF;
$bp5: #66bfff;
$bp6: #8ccfff;
$bp7: #b3dfff;
$bp8: #d9efff;
// Blue Secondary Colors
$bs1: #151140;
$bs2: #175b80;
$bs3: #2288bf;
$bs4: #58c4ff;
$bs5: #81d3ff;
$bs6: #94d9ff;
$bs7: #abe2ff;
$bs8: #d5f0ff;
// Red Primary Colors
$rp1: #330915;
$rp2: #66122A;
$rp3: #991b3e;
$rp4: #cc2453; // The Brand Color!
$rp5: #d65075;
$rp6: #e07c98;
$rp7: #f5d3dd;
// Red Secondary Colors
$rs1: #290F16;
$rs2: #521E2D;
$rs3: #7B2C43;
$rs4: #A43B59;
$rs5: #B6627A;
$rs6: #C8899B;
$rs7: #DBB1BD;
$rs9: #edd8de;
// Text & Type Colors
// Social Media Colors
$behance : #0057ff;
$dribbble : #ea4c89;
$fb : #3b59b6;
$tw : #4099ff;
$googleplus : #d73e33;
$pinterest : #cb2027;
$skype : #12a5f4;
$spotify : #81b81a;
$instagram : #4e433c;
$tumblr : #2b4964;
$vimeo : #86b32d;
$soundcloud : #f76600;
$youtube : #ff3333;
$linkedin : #4875b4;
$flickr : #fe0883;
$foursquare : #8fd400;