//
//  TAYLOR FEDT BRAND COLORS
//  Arranged in map so that text color and background color
//  styles can be created with SASS script.
//
//  Note: Higher numbers indicate brighter, more saturated colors.

// Brand palette.
$logo-blue: #5FC9E7;
$purple-00: hsl(216, 60%, 8%);
$purple00:  #1A2433;
$purple01:  #36404F;
$purple02:  #D7E9FF;
$purple03:  #f0f7fe;
$green00:   #48B596;
$green01:   #7ACCB5;
$green02:   #8CE5C5;
$red00:     #662424;
$red01:     #9B3735;
$red02:     #E45F56;

// Social Media Colors
$fb:          #3b59b6;
$tw:          #4099ff;
$googleplus:  #d73e33;
$pinterest:   #cb2027;
$skype:       #12a5f4;
$spotify:     #81b81a;
$instagram:   #4e433c;
$tumblr:      #2b4964;
$vimeo:       #86b32d;
$soundcloud:  #f76600;
$youtube:     #ff3333;
$linkedin:    #4875b4;
$flickr:      #fe0883;
$foursquare:  #8fd400;
