
//  TAYLOR FEDT BRAND COLORS
//  For some reason maps aren't working so that text color and background color
//  styles can be created with SASS script, among other things.

// Brand palette variable set.
$logo-blue:  #5FC9E7;
$blue00:     #74d5f0;
$blue01:     #4ac6e8;
$blue02:     #47b7d7;
$blue03:     #36a9c9;

$purple-00:  #0b192d;
$purple00:   hsl(216, 32%, 15%);
$purple01:   #303f54;
$purple02:   #D7E9FF;
$purple03:   #ebf5fe;

$green00:    #48B596;
$green01:    #7ACCB5;
$green02:    #8CE5C5;

$red00:     #ff526b;
$red01:     #d74157;
$red02:     #c2475a;

$wine00:    #a43b59;
$wine01:    #803047;
$wine02:    #a65369;
$wine03:    #cc2453;

$drk-blue00:  #40afff;
$drk-blue01:  tint(#40afff,10%);
$drk-blue02:  shade(#40afff,10%);

$lt-blue00:   shade(#54c3ff,50%);
$lt-blue01:   #54c3ff;
$lt-blue02:   tint(#54c3ff,10%);

// Social Media Colors
$fb:          #3b59b6;
$tw:          #4099ff;
$googleplus:  #d73e33;
$pinterest:   #cb2027;
$skype:       #12a5f4;
$spotify:     #81b81a;
$instagram:   #4e433c;
$tumblr:      #2b4964;
$vimeo:       #86b32d;
$soundcloud:  #f76600;
$youtube:     #ff3333;
$linkedin:    #4875b4;
$flickr:      #fe0883;
$foursquare:  #8fd400;
