//
//  TF BUTTONS FOR THIS PROJECT
//
@mixin prefix-transition($prop, $time, $dur) {
    transition: $prop $time $dur;
    -moz-transition: $prop $time $dur;
    -o-transitions: $prop $time $dur;
}

.btnprimary {
    background: #CC2453;
    border-radius: 27px;
    -moz-border-radius: 27px;
    -webkit-border-radius: 27px;
    tab-focus: none;
    &:hover {
        border-style: Solid;
        border-color: #CC2453;
        border-width: 5px;
        border-radius: 28px;
        -moz-border-radius: 28px;
        -webkit-border-radius: 28px;
        outline: none;
        tab-focus: none;
    }
}